*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__links-list-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__links-list {
  height: 94px;
  display: flex;
  align-items: center;
}

.header__links {
  color: #6c6c6c;
  padding: 39.3px 0;
  transition: 0.2s;
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 14px;
  color: #252525;
  position: relative;
  z-index: 999;
}

.header__link-home-bc {
  color: #09c6ab;
}

.header__links:hover {
  color: #09c6ab;
}

.header__links-hidden-wrapper {
  max-width: 220px;
  width: 100%;
  max-height: 0px;
  position: absolute;
  background-color: #252525;
  top: 95px;
  padding: 0 24px;
  transition: 0.5s;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.header__links:hover + .header__links-hidden-wrapper {
  max-height: 310px;
  visibility: visible;
}

.header__links-hidden-wrapper:hover {
  max-height: 310px;
  visibility: visible;
}

.header__links-hidden-shop-wrapper {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffffff;
}

.header__link-shop {
  display: flex;
  flex-direction: column;
}

.header__link-hidden-shop {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;
  color: #929292;
  font-style: italic;
}

.header__link-hidden-shop:hover {
  color: #09c6ab;
}

.header__link-shop-title {
  margin: 10px 0;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.header__link-hidden {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 32px;
  display: block;
  transition: 0.2s;
}

.header__link-hidden:hover {
  color: #09c6ab;
}

.header__line {
  width: 1px;
  height: 93px;
  background-color: #ebebeb;
}

.header__shops {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__search-link {
  position: relative;
}

.header__search-hidden-wrapper {
  position: absolute;
  top: 60px;
  left: -250px;
  height: 0;
}

.header__search-home {
  transition: 0.3s;
  height: 45.5px;
  height: 0;
  opacity: 1;
  position: relative;
  overflow: hidden;
}

.header__search-hidden-input {
  width: 250px;
  background-color: #252525;
  height: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.header__search-hidden-input::-moz-placeholder {
  color: #ffffff;
}

.header__search-hidden-input::placeholder {
  color: #ffffff;
}

.header__search-hidden-button {
  position: absolute;
  right: 0;
  padding: 0 19px;
  height: 100%;
  font-size: 19px;
  border: none;
  background-color: #09c6ab;
  color: #ffffff;
}

.header__bars-link {
  position: relative;
  color: #fff;
}

#header__bars-btn {
  border: none;
  background-color: transparent;
}

.header__bars-link-wrapper {
  position: absolute;
  background-color: #252525;
  height: 0;
  padding: 0 20px;
  left: -180px;
  top: 70px;
  transition: 0.7s;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header__bars-link-wrapper a {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 12px;
  color: #aaa;
  line-height: 30px;
  display: block;
  transition: 0.3s;
}
.header__bars-link-wrapper a:hover {
  color: #09c6ab;
}

.header__bars-title {
  padding: 5px 0;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.bars__line {
  width: 100%;
  height: 0.5px;
  background-color: #bebebe;
  margin: 15px 0;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

* {
  box-sizing: border-box;
  gap: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Josefin Sans", sans-serif;
  color: #252525;
  letter-spacing: 1px;
}

.main__header {
  background-color: #f0f0f0;
  padding: 12px;
}

.main__header_p {
  font-family: "Josefin Sans", sans-serif;
}

.main_about {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.main_about_img {
  width: 569px;
  height: 276px;
}

.main_about__text {
  max-width: 506px;
  height: 314px;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}

.main_statistic_img, .main_about_img, .main_about__text_p {
  width: 100%;
}

.main_about_button {
  border-radius: 25px;
  height: 40px;
  border: 1px solid;
  background-color: white;
  padding: 0px 15px;
}

.main_about__text_h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 33px;
  margin-bottom: 0;
}

.main_about__text_p {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 24px;
}

.main_about_button:hover {
  background-color: #20c997;
  border: none;
  color: white;
}

.main_box1, .main_box2, .main_box3, .main_box4 {
  display: flex;
  justify-content: space-evenly;
  width: 290px;
  height: 290px;
  background: #f3f3f3;
  padding: 88px 0 80px;
  margin-bottom: 30px;
}

.main_box_img {
  font-size: 40px;
  position: relative;
  top: 30px;
}

.main_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 60px;
  gap: 10px;
}

.main_statistic {
  display: flex;
  justify-content: space-between;
}

.stac, .stac1, .stac2, .stac3 {
  position: relative;
  right: 3px;
  height: 1.3rem;
  background-color: #4b4a4a;
  border-color: #fff;
  border-color: none;
  overflow: hidden;
  gap: 100px;
  color: white;
  gap: 10px;
}

.stac {
  width: 400px;
}

.stac1 {
  width: 550px;
}

.stac2 {
  width: 450px;
}

.stac3 {
  width: 500px;
}

.main_statistic_button {
  text-align: center;
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #4b4a4a;
}

.main_statistic_stac1 {
  display: flex;
}

.mark {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.footer {
  background-color: #1f1f1f;
  color: rgb(255, 255, 255);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 50px 0px 20px 0;
}

.footer__text {
  max-width: 300px;
  width: 100%;
}
.footer__text span {
  display: block;
}
.footer__text span a {
  color: white;
  transition: 0.3s;
}
.footer__text span a:hover {
  color: #09c6ab;
}

.footer__list-logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 25px;
}

.footer__list-wrapper {
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 25px;
}
.footer__list-wrapper li a {
  transition: 0.3s;
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.footer__list-wrapper li a:hover {
  color: #09c6ab;
}

.footer__list-title {
  padding-bottom: 15px;
}

.footer__inp-wrapper {
  position: relative;
}

.footer__inp-email {
  width: 100%;
  padding: 15px 50px 15px 15px;
  background-color: transparent;
  border: 2px solid #3f3f3f;
  margin-bottom: 20px;
  outline: none;
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.footer__inp-email::-moz-placeholder {
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.footer__inp-email::placeholder {
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.email__icon {
  position: absolute;
  right: 15px;
  top: 17px;
}

.footer__link-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.footer__link {
  display: block;
  border: 1px solid #4e4e4e;
  padding: 5px 14px;
  transition: 0.3s;
  color: #fff;
  background-color: transparent;
}

.footer__link:hover {
  color: #fff !important;
  background-color: #09c6ab;
}

.footer__line {
  width: 100%;
  border: 1px solid rgb(110, 110, 110);
}

.footer__map-wrapper {
  padding: 30px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__map {
  display: flex;
  gap: 30px;
}
.footer__map a {
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}
.footer__map a:hover {
  color: #09c6ab;
}

.footer__copyright {
  text-align: center;
  padding: 20px 0;
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 12px;
  color: #8f8f8f;
}
.footer__copyright a {
  color: #09c6ab;
}

.footer__brand-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1225px) {
  .main_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main_statistic {
    display: block;
  }
  .mark {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .main_about__text {
    text-align: center;
  }
}
@media screen and (max-width: 1062px) {
  .mark {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .main_about {
    display: block;
  }
}
@media screen and (max-width: 886px) {
  .mark {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 717px) {
  .mark {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 645px) {
  .main_box {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 626px) {
  .main_statistic_img, .main_about_img, .main_about__text_p {
    width: 100%;
  }
}
@media screen and (max-width: 547px) {
  .mark {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 547px) {
  .main_about__text_p {
    width: 100%;
  }
}/*# sourceMappingURL=stayle.css.map */