*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@mixin textStyle($font-size, $font-weight, $font-family, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

// ------------------ header

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__links-list-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__links-list {
  height: 94px;
  display: flex;
  align-items: center;
}

.header__links {
  color: #6c6c6c;
  padding: 39.3px 0;
  transition: 0.2s;
  @include textStyle(14px, 700, Josefin Sans, #252525);
  position: relative;
  z-index: 999;
}

.header__link-home-bc {
  color: #09c6ab;
}

.header__links:hover {
  color: #09c6ab;
}

.header__links-hidden-wrapper {
  max-width: 220px;
  width: 100%;
  max-height: 0px;
  position: absolute;
  background-color: #252525;
  top: 95px;
  padding: 0 24px;
  transition: 0.5s;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__links:hover + .header__links-hidden-wrapper {
  max-height: 310px;
  visibility: visible;
}

.header__links-hidden-wrapper:hover {
  max-height: 310px;
  visibility: visible;
}

.header__links-hidden-shop-wrapper {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffffff;
}

.header__link-shop {
  display: flex;
  flex-direction: column;
}

.header__link-hidden-shop {
  @include textStyle(12px, 400, Josefin Sans, #ffffff);
  line-height: 30px;
  text-transform: uppercase;
  color: #929292;
  font-style: italic;
}

.header__link-shop-title {
  margin: 10px 0;
  @include textStyle(12px, 400, Josefin Sans, #ffffff);
}

.header__link-hidden {
  @include textStyle(12px, 400, Josefin Sans, #ffffff);
  text-transform: uppercase;
  line-height: 32px;
  display: block;
  transition: 0.2s;
}

.header__link-hidden:hover {
  color: #09c6ab;
}

.header__line {
  width: 1px;
  height: 93px;
  background-color: #ebebeb;
}

.header__shops {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__search-link {
  position: relative;
}

.header__search-hidden-wrapper {
  position: absolute;
  top: 70px;
  left: -200px;
}

.header__search-home {
  position: relative;
}

.header__search-hidden-input {
  background-color: #252525;
  padding: 10px 68px 10px 15px;
  border: none;
}

.header__search-hidden-input::placeholder {
  color: #ffffff;
}

.header__serch-hidden-button {
  position: absolute;
  right: 0;
}
