<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./header.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <div class="container">
          <div class="header__wrapper">
            <a href="#">
              <img
                class="header__logo-img"
                src="../../imgs/header-logo.png"
                alt="shop-logo"
              />
            </a>
            <ul class="header__links-list-wrapper">
              <li class="header__links-list">
                <a class="header__links header__link-home-bc" href="#"
                  >HOME
                  <i class="fa fa-angle-down"></i>
                </a>
              </li>
              <li class="header__links-list">
                <a class="header__links" href="#"
                  >SHOP <i class="fa fa-angle-down"></i
                ></a>
              </li>
              <li class="header__links-list">
                <a class="header__links" href="#"
                  >BLOG <i class="fa fa-angle-down"></i
                ></a>
              </li>
              <li class="header__links-list">
                <a class="header__links" href="#"
                  >PAGES <i class="fa fa-angle-down"></i
                ></a>
              </li>
              <li class="header__links-list">
                <a class="header__links" href="#">ABOUT US</a>
              </li>
              <li class="header__links-list">
                <a class="header__links" href="#">CONTACT US</a>
              </li>
            </ul>
            <div class="header__shops">
              <a href="#">
                <img src="../../imgs/icon-search.png" alt="icon-search" />
              </a>
              <a href="#">
                <img src="../../imgs/icon-bars.png" alt="icon-bars" />
              </a>
              <a href="#">
                <img src="../../imgs/icon-shop.png" alt="shop-mg" />
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="main"></main>
  </body>
</html>
