@import "../sass/normale";

.footer {
  background-color: #1f1f1f;
  color: rgb(255, 255, 255);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 50px 50px 20px;
}

.footer__text {
  max-width: 300px;
  width: 100%;
  span {
    display: block;
    a {
      color: #ffff;
      transition: 0.3s;
    }
    a:hover {
      color: #09c6ab;
    }
  }
}

.footer__list-logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 25px;
}

.footer__list-wrapper {
  @include textStyle(14px, 700, Josefin Sans, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 25px;
  li {
    a {
      transition: 0.3s;
      @include textStyle(14px, 700, Josefin Sans, #ffffff);
    }

    a:hover {
      color: #09c6ab;
    }
  }
}

.footer__list-title {
  padding-bottom: 15px;
}

.footer__inp-wrapper {
  position: relative;
}

.footer__inp-email {
  width: 100%;
  padding: 15px 50px 15px 15px;
  background-color: transparent;
  border: 2px solid #3f3f3f;
  margin-bottom: 20px;
  outline: none;
  @include textStyle(14px, 700, Josefin Sans, #ffffff);
}
.footer__inp-email::placeholder {
  @include textStyle(14px, 700, Josefin Sans, #ffffff);
}

.email__icon {
  position: absolute;
  right: 15px;
  top: 17px;
}

.footer__link-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.footer__link {
  display: block;
  border: 1px solid #4e4e4e;
  padding: 5px 14px;
  transition: 0.3s;
  color: #fff;
  background-color: transparent;
}
.footer__link:hover {
  color: #fff !important;
  background-color: #09c6ab;
}
