<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./footer.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <ul class="footer__list-wrapper footer__list-logo-wrapper">
            <li>
              <img src="../../imgs/footer-logo.png" alt="logo" />
            </li>
            <li class="footer__text">
              We are a team of designers and developers that create high quality
              HTML Template, Woocommerce, Shopify Theme.
            </li>
            <li class="footer__text">
              Address: 49 Park Avenue, East 58st Street, Apt. 50 New York NY
              10025
              <span
                >Email: <a href="#">https://hasthemes.com/contact-us/</a></span
              >
              <span>Phone: <a href="#">+1 250 3678 64587</a></span>
            </li>
          </ul>
          <ul class="footer__list-wrapper">
            <li>
              <h3 class="footer__list-title">CUSTOMER SERVICE</h3>
            </li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Delivery Information</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
          <ul class="footer__list-wrapper">
            <li>
              <h3 class="footer__list-title">MY ACCOUNT</h3>
            </li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">Wish List </a></li>
            <li><a href="#">Gift Certificates </a></li>
            <li><a href="#">Returns</a></li>
          </ul>
          <ul class="footer__list-wrapper">
            <li>
              <h3 class="footer__list-title">NEWSLETTER</h3>
            </li>
            <li class="footer__inp-wrapper">
              <input
                class="footer__inp-email"
                type="email"
                placeholder="Enter you email address"
              />
              <a href="#"><i class="fa-solid fa-envelope email__icon"></i></a>
            </li>
            <li>
              <h3 class="">FOLLOW US ON</h3>
            </li>
            <li>
              <div class="footer__link-wrapper">
                <a class="footer__link" href="#">
                  <i class="fa-brands fa-facebook-f"></i
                ></a>
                <a class="footer__link" href="#">
                  <i class="fa-brands fa-twitter"></i>
                </a>
                <a class="footer__link" href="#">
                  <i class="fa-solid fa-wifi"></i>
                </a>
                <a class="footer__link" href="#">
                  <i class="fa-brands fa-youtube"></i>
                </a>
                <a class="footer__link" href="#">
                  <i class="fa-brands fa-google"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
